/*
 Training Video Page Custom Styles
 Version 1
 11/22/2017
*/
img.video_Image.imageURL{
  margin-bottom: 10px;
}

div#videos {
  margin-bottom: 20px;
}

.btnFilter{
    font-size: 1.2em;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    line-height: normal;
    padding: 10px 20px;
    margin: 0;
    height: auto;
    background-color: transparent;
    border: 1px solid #0F9ADA;
    text-align: center;
    vertical-align: middle;
    -webkit-appearance: none;
    color: #555;
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
   
}

.btnFilter{
    min-width: 150px;
}

.btnPag{
    min-width: 80px;
    max-width: 80px;
}

.btnFilter:hover{
    background-color: #0F9ADA;
    color: #ffffff;
    -webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.active{
    background-color: #0F9ADA;
    color: #ffffff;
}



p.videoName {
    text-align: center;
}



/* ---------------------------------------------------
   Re order Videos
----------------------------------------------------- */
.ordering_Videos{
    opacity: 0;
    -webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.opacity{
    opacity: 0.1;
}



/* ---------------------------------------------------
   Loader
----------------------------------------------------- */


.loader {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 100px auto;
  }
  .loader .logo {
    width: 45%;
    position: absolute;
    left: 27.5%;
    top: 27.5%;
  }
  .loader .logo img {
    width: 100%;
    z-index: 5;
  }
  
  .bounce1, .bounce2, .bounce3 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #0F9ADA;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: spreadout 2.7s infinite ease-in-out;
    animation: spreadout 2.7s infinite ease-in-out;
  }
  
  .bounce2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .bounce3 {
    -webkit-animation-delay: -1.8s;
    animation-delay: -1.8s;
  }
  
  @-webkit-keyframes spreadout {
    0% {
      -webkit-transform: scale(0.3);
    }
    80% {
      -webkit-transform: scale(1);
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes spreadout {
    0% {
      -webkit-transform: scale(0.3);
      transform: scale(0.3);
    }
    80% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100% {
      opacity: 0;
    }
  }

  
/* ---------------------------------------------------
   Responsive
----------------------------------------------------- */

/* @media only screen and (max-width:768px)
{
  body{
    background-color: #000;
  }
} */

/* @media only screen and (min-width:481px) and (max-width:768px)
{
  body{   
    width: 100%;
    align-content: center;
  }
}

@media screen and (max-width:480px)
{
  div#s4-bodyContainer {
    width: auto !important;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.1em;
  }

} */